body{
    background-color: rgb(121, 121, 184);
}
h1{
    margin-left: 500px;
    color: aliceblue;
}
ul{
    color:aliceblue;
    border: solid  rgb(77, 77, 145);
    height: 30px;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(77, 77, 145);
}